@font-face {
  font-family: Roboto-Regular;
  src: url('fonts/Roboto-Regular.ttf');
}

* {
  font-family: Roboto-Regular;
}
.navbar-brand {
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
}
.navbar-dark .navbar-nav .nav-item {
  margin: 0 15px;
}
.profile-area {
  padding: 80px 0;
}
.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
}
.img1 img {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}
.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 7px solid #fff;
  margin-top: -80ox;
}
.card:hover .img2 img {
  border-color: rgb(0, 0, 0);
  transition: 0.7s;
}
.main-text {
  padding: 30px 0;
  text-align: center;
}
.main-text h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px;
}
.main-text p {
  font-size: 16px;
  padding: 0 25px;
}
.soicals {
  text-align: center;
  padding-bottom: 20px;
}
.soicals {
  font-size: 20px;
  color: black;
  padding: 0 10px;
}

.soicals {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0;
}
.soicals li {
  margin: 0 10px;
}
.soicals a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.soicals a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.soicals a:hover i {
  color: rgb(0, 0, 0);
}
.text-dark {
  padding: 12px;
}
